@font-face {
    font-family: 'Idealist Sans-light';
    src: url('../fonts/idealist_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	src: local('EB Garamond'), local('EBGaramond'), url(../fonts/Garamond.svg) format('svg'),
         url(../fonts/Garamond.otf) format('otf'),
         url(../fonts/Garamond.ttf) format('ttf');
}

@font-face {
    font-family: 'Days';
    src: url('../fonts/Days.svg') format('svg'),
         url('../fonts/Days.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}