html {
	background-color: #F5F4F1;
	background-attachment: fixed;
}

body {
	text-align: center;
	background-attachment: fixed;
	font-family: Minion, Times New Roman, serif;

}

/* FRONT */
#firstSection, #secondSection, #thirdSection, #fourthSection {
	position: fixed;
	height: 100%;
	opacity: 0;
}
