html {
	background-color: #F5F4F1;
	background-attachment: fixed;
}

body {
	text-align: center;
	background-attachment: fixed;
	font-family: Minion, Times New Roman, serif;

}

a {
	color: #a7a7a7;
}

/* FRONT */
#firstSection, #secondSection, #thirdSection, #fourthSection {
	position: fixed;
	height: 100%;
	width: 70%;
	left: 15%;
	opacity: 0;
}

.content {
	position: absolute;
	width: 100%;
}

.first-content {
	top: 50%;
	margin-top: -147px;
}

.second-content {
	font: 16px/30px  'Idealist Sans-light', sans-serif;
}

h1 {
	font: 60px/60px 'Idealist Sans-light', sans-serif;
	color: #ff3b12;
}

#secondSection {
	top: 50%;
	margin-top: -300px;
}

.portfolio {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.portfolio li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 20px;
}

.portfolio-item  {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.li-img-1 {
	background-image: url("../img/first.jpg");
}

.item-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.portfolio-item:hover .item-info {
	opacity: 1;
}

.item-info a {
	color: #fff;
	text-decoration: none;
}


.item-info h3 {
	color: #fff;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 100px;
	font-family: 'Idealist Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.item-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.2s;
	-moz-transition: all 1s ease-in-out 0.2s;
	-o-transition: all 1s ease-in-out 0.2s;
	-ms-transition: all 1s ease-in-out 0.2s;
	transition: all 1s ease-in-out 0.2s;
}